<div class="share">
  <div class="addthis_toolbox addthis_default_style ">
  <% if(theme.addit.facebook) { %>
  <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
  <% } %>
  <% if(theme.addit.twitter) { %>
  <a class="addthis_button_tweet"></a>
  <% } %>
  <% if(theme.addit.gplus) { %>
  <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
  <% } %>
  <% if(theme.addit.pinit) { %>
  <a class="addthis_counter addthis_pill_style"></a>
  <% } %>
  </div>
  <script type="text/javascript">
    var addthis_config = {"data_track_addressbar":true};
  </script>
  <script type="text/javascript"
          src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=<%= theme.addit.publid %>">
  </script>
</div>
