<div itemscope itemtype="http://schema.org/Blog">
  <article class="post" itemprop="blogPost" itemscope
  itemtype=="http://schema.org/BlogPosting">
  <%- partial('_partial/article', {item: page, index: false}) %>
  </article>
</div>