font-default = "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif
font-mono = Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace
font-serif = "Georgia", serif

font-icon = FontAwesome
font-icon-path = "/fonts/fontawesome-webfont"

@font-face {
	font-family 'FontAwesome'
	font-weight normal
	font-style normal
	src url(font-icon-path.eot)
	src url(font-icon-path.eot?#iefix) format('embedded-opentype'),
  url(font-icon-path.woff) format('woff'),
  url(font-icon-path.ttf) format('truetype'),
	url(font-icon-path.svg#FontAwesomeRegular) format('svg'),
	url(font-icon-path.svg#FontAwesomeRegular) format('svg')
}
