.pullquote-right:before
.pullquote-left:before
  padding 0
  border none

  content attr(data-pullquote)

  float right
  width 45%
  margin .5em 0 1em 1.5em

  position relative
  top 7px;
  font-size 1.4em
  line-height 1.45em


.pullquote-left:before
  float left
  margin .5em 1.5em 1em 0
